.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #009999;
    border-color: #b2b2b2;
}
.banner {
    width: 100%;
    height: 90px;
}
.helper {
    position: fixed;
    left: 0;
    top: 45%;
    z-index: 9999;
    line-height: 1em;
    background: #00abaa;
    padding: 15px 10px;
    
}
.helper>a {    
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.helper-block {
    position: fixed;
    top: 25%;
    left: 34px;
    width: 345px;
    height: 445px;
    border-radius: 0;
    border: solid 5px #00abaa;
    padding: 0;
}
.helper-block-title {
    width: 100%;
    height: 115px;
    background: #00abaa;
    color: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 1.3em;
}
.helper-block-title span {
    font-size: 1.4em;
    display: block;
    margin-bottom: 20px;
}
.helper-block ul {
    padding: 20px;
    box-sizing: border-box;
}
.helper-block ul li {
    list-style: none;
    line-height: 1.8em;
}
.helper-block ul li a {
    color: #00abaa;
    font-size: 1.3em;
}

.navbar-nav-menu .dropdown:hover > .dropdown-menu { 
    display: block; 
}
.navbar-custom {
    background: #00abaa;
}
.nav.navbar-nav.navbar-nav-menu>li>a,
.nav.navbar-nav.navbar-right.nav-signup>li>a{
    color: #fff !important;
    font-size: 1.2em;
}
.dropdown-menu-item a {
    color: #000 !important;
}
.dropdown-menu-item a:hover {
    color: #fff !important;
}
.navbar-nav-menu li a {    
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav-menu li a:hover {
    background-color: #04908f !important;
    text-decoration: none !important;    
}
.navbar-custom ul a:hover {
    text-decoration: underline;
}
/*.logo {
    font-weight: 600;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}*/
.logo img{
    position: absolute;
    right: 0;
}
.logo span {
    color: #727272;
    font-weight: normal;
    font-size: 0.7em;
}
@media (min-device-width: 991px) and (max-device-width: 1200px){
    .logo{
        font-size: 1.2em;
    }
}
.nav-pills-custom li {
    height: 22px;
    line-height: 0.9;
}
.nav-pills-custom li a {
    font-size: 0.8em;
    border-radius: 0px;
    color: #00abaa;
    padding: 6px 10px;
    
} 
.nav-signup li a {
    outline: none;
}
.navbar-custom ul .glyphicon-user {
    padding-right: 5px;
}

.text-align-center {
    text-align: center;
}
.nav-pills-custom li.active a, .nav-pills-custom li.active a:hover, .nav-pills-custom li.active a:focus {
    background-color: #00abaa;
}

.input-group .form-control, .input-group .input-group-addon {
    border-radius: 0px 3px 3px 3px;
    border: 2px solid #00abaa;
    height: 41px;
}


.input-group-addon {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0px 3px 3px 0px !important;
}
.input-group {
    width: 100%;
}
.input-group .input-group-addon {
    background-color: #00abaa;
    color: #fff; 
}
.custom-container {
    background-color: #fff;
    width: 100%;
    padding: 13px 0;
}
.btn-header {
    border-radius: 3px;
    background-color: #00abaa;
    border: none;
    line-height: 30px;
    font-size: 1.2em;
    width: 310px;
    outline: none !important;
}
.btn-header:hover, .btn-header:active, .btn-header:focus {
    background-color: #00abaa !important;
}
.modal-body-custom {
    display: flex;
    flex-direction: column;
}
.appointments-input {
    width: 300px;
    text-align: center;
    padding: 7px 10px;
    font-size: 1.2em;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #bebebe;
    outline: none;
}
.appointments-select {
    width: 300px;
    margin: 20px auto;
    padding: 5px;
    font-size: 1.2em; 
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.appointments-btn {
    width: 300px;
    margin: auto;
    outline: none !important;
    background-color: #00abaa;
}
.appointments-btn:hover, .appointments-btn:active, .appointments-btn:focus {
    background-color: #00abaa !important;
}
.carousel {
    height: 400px;
}

.carousel-indicators li {
    color: #00abaa;
    background-color: #fff !important;
    border: none;
    width: 20px;
    height: 20px;
    margin: 0;
}
.carousel-indicators .active {
    background-color: #21787c !important;
    width: 20px;
    height: 20px;
}
.item {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #e6e6e6;
}
.item a {
    position: absolute;
    bottom: 50px;
    left: 100px;
    border: solid 1px #fff;
    font-size: 1.2em;
    padding: 10px 70px;
    color: #fff;
}
.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container h3 {
    margin-top: 0;
}
.custom-offers-container {
    background-color: #ecf6f8;
    padding-top: 50px;
    padding-bottom: 50px;
}
.download-app-btn {
    background: #00abaa;
    border-radius: 5px;
    padding: 15px 40px !important;
    border: none !important; 
    bottom: 100px !important;
    left: 120px !important;
    font-size: 1.3em !important;
}
.download-app-btn:hover {
    text-decoration: none;
    background: #00a2a1;  
}
.item-first-banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item-first-banner h3 {
    position: absolute;
    top: 70px;
    left: 120px;
    font-size: 2em;
    width: 600px;
    color: #535353
}
.item-first-banner p {
    position: absolute;
    top: 170px;
    left: 120px;
    font-size: 1.5em;
    color: #7b7b7b
}
.item-second-banner {
    background-image: url(../img/img_flower2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item-third-banner {
    background-image: url(../img/img_flower2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item-fourth-banner {
    background-image: url(../img/img_flower2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.stock{
    display: flex;
    align-items: center;
    background: #FFF;
    margin-bottom: 16px;
    margin-top: 16px;
}
.stock>img{
    float: left;
    max-width: 50%;
}
.stock>div{
    height: 100%;
    padding: 20px;
    max-width: 50%;
    float: right;
}
/*.follow-block {
    box-sizing: border-box;
}
.follow-block h4 {
    margin: 40px auto 20px auto;
    font-size: 1.7em;
}
.follow-block h5 {
    margin: 30px auto 40px auto;
    font-size: 1.1em;
    color: #7e7e7e;
}
.follow-form {
    border: 1px solid #acabab !important;
    border-radius: 5px !important;
    margin-right: 15px;
    background: none;
    width: 95% !important;
}
.follow-btn {
    border-radius: 3px !important;
    background-color: #00abaa;
    color: #fff;
}
.follow-btn:hover, .follow-btn:active {
    background-color: #00abaa !important;
    color: #fff;
}*/







.custom-reviews-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.latest-reviews-title, .article-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.latest-reviews-title a:hover, .article-title a:hover {
    text-decoration: none;
}
.latest-reviews-title h3, .article-title h3 {    
    margin-right: 10px;
    font-size: 1.6em;
}

.latest-reviews-title a, .article-title a {
    text-decoration: underline;
    color: #6ec4c4;
}
.review-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}
.review-container img {
    width: 60px;
    margin-right: 15px;
}
.review-container-content {
    background-color: #fafafa;
    border: solid 1px #ebebeb;
    padding: 10px 14px 10px 10px;
    display: flex;
    justify-content: flex-start;
}
.review-btn {
    background-color: #00abaa;
    color: #fff;
    border: none;
    padding: 2px 22px;
}
.review-btn:hover, .review-btn:active {
    background-color: #00abaa !important;
    color: #fff !important;
}
.review h6 {
    margin: 0;
    font-size: 1.1em;
    text-decoration: underline;
    font-weight: 600;
}
.review p {
    color: #b3b3b3;
    margin-bottom: 0;
}
.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


.article-container .article-block img{
    padding-top:15px;
    border-top: solid 1px #e6e6e6;
}
/*.article-container .article-block:last-child {
    border: none;
}*/
.article-title h5 {
    font-size: 1.5em;
    /*width: 15%;*/
    margin-right: 0;
}

.article-block .btn-default{
    background: #00abaa;
    text-shadow: none;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding:3px 15px;

}
.article-block .img-responsive{
    margin-bottom: 15px;
}
.article-block h4{
    font-size: 15px;
    font-weight: 600;
}
.article-block .date{
    font-weight: 600;
}
.article-block .description{
    color: #444;
}

.article-container .main-article{
    color:#999;
    text-shadow: 1px 1px 1px #000;
}
.article-container .main-article{
    padding: 20px;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../img/lift.png");
    background-size: cover;
}
.article-container .main-article .btn-default{
    background: #00abaa;
    text-shadow: none;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding:3px 15px;
    font-weight: 600;
}
.bottom{
    position: absolute;
    bottom: 20px;
}

.footer-top-line {
    padding-left: 225px;
    background-color: #00abaa;
    
}
.footer-top-line a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 12px 70px 12px 12px;
    display: inline-block;
}
.footer-top-line a:hover {
    text-decoration: underline;
}
.glyphicon-envelope:before, .glyphicon-question-sign:before {
    padding-right: 10px;
}
footer {
    
}
.footer-content {
    background-color: #21787c;
    padding: 30px 0 40px 225px;
    overflow: auto;
}
.footer-content h4 {
    color: #e6ebf5;
    margin-bottom: 25px;
}
.footer-content ul {
    padding-left: 0;
}
.footer-content ul li {
    list-style: none;
    padding-bottom: 10px;
}
.footer-content ul li a {
    color: #07bfbe;
    text-decoration: underline;
}
.footer-content ul li a:hover {
    color: #fff;
}
.footer-service-copy div{
    color:white;
    margin-bottom: 7px;
}
.copy {
    color:black !important;
    font-size: 13px;
    margin-top: 7px;
}
.footer-tel {
    font-size: 19px;
}



@media (max-device-width: 480px) {
      .btn-primary {
        width: 90% !important;
    }
    .footer-top-line {
        padding-left: 10px;
        background-color: #00abaa;
    
    }
    .footer-content {
        background-color: #21787c;
        padding: 10px 0 10px 20px;
        overflow: auto;
    }
}
.navbar-default .navbar-toggle{
    border:none;
}
.navbar-default .navbar-toggle:hover{
    background-color: #21787c;
}
.navbar-default .navbar-toggle:focus{
    background-color: #00abaa;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}





/*Стили Влад*/
.nav-signup:nth-child(2)>a{
    border-left: solid 1px #fff;
}




.medical-centers-title {
    margin: 30px 0;
}
.medical-centers-title a {
    padding-left: 20px;
    color: #00abaa;
    text-decoration: underline;
}
.medical-centers-title a:hover {
    color: #00abaa;
    text-decoration: none;
}
.med-center-slide, .med-center-slide-inner, .med-center-slide .active {
    height: 250px;
}
.carousel-control.right, .carousel-control.left {
    width: 50px;
    background: none;
}

.med-center-slide .glyphicon-chevron-left, .med-center-slide .glyphicon-chevron-right {
    color: black;
}


.banners {
    overflow: auto;
}
.sort {
    font-weight: bold;
    margin: 30px 0;
}
.sort a {
    font-weight: normal;
    padding-left: 10px;
    color: #009999;
    text-decoration: underline;
}
.sort a:hover {
    text-decoration: none;
}
.clinic-categories {
    border: solid 1px #29a9a9;
    padding: 0;
}
.clinic-categories h3 {
    color: #fff;
    background-color: #29a9a9;
    padding: 15px 10px;
    font-size: 1.3em;
}
.clinic-categories>div {
    padding: 0 15px;
}
.district {
    border: solid 1px #009999;
    border-radius: 0 6px 6px 0;
    padding: 2px 7px;
    height: 25px;
    width: 70%;
    outline: none;
}
.clinic-catalog {
    overflow: auto;
}
.page-list ul {
    margin-top: 0;
}
.page-list ul li a {
    border: solid 1px #b2b2b2;
    border-radius: 0 !important;
    color: #099;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 8px;
}
.page-list ul li a:focus, .page-list ul li a:hover, .page-list ul li a:active {
    background-color: #009999;
    border: solid 1px #b2b2b2;
    color: #fff;
}
.clinic-block {
    overflow: auto;
    padding: 20px;
    margin: 10px 0;
    color: #009999;
}
.clinic-block a {
    color: #009999;
}
.clinic-block>img {
    height: 100%;
}
.clinic-block>div {
    max-width: 70%;
    padding-left: 20px;
}
.clinic-block>div h4 {
    margin-top: 0;
    text-decoration: underline;
}
.clinic-block>div p i {
    padding-right: 10px;
    color: #000;
}
.clinic-block>div p i {
    padding-right: 5px;
    color: #000;
}
.marked {
    background-color: #009999;
    color: #ecf6f8;
}
.marked a {
    color: #ecf6f8;
}

@media (max-device-width: 767px) {
    .clinic-block>img {
        float: none !important;
    }
    .clinic-block>div {
        text-align: center;
        margin: 20px auto 0 auto;
        float: none !important;
    }
}
@media (max-device-width: 990px) {
    .clinic-catalog {
        width: 100%;
        padding: 0;
    }
    .clinic-block {
        width: 100%;
    }
    .page-list {
        margin: 20px 0;
    }
    
}

.link-menu {
    background: none;
    color: #009999;
}
.link-menu .active {
    color: #000;
}
.link-menu a {
    color: #009999;
}
.doctor-info  {
    margin-top: 20px;
}
.doctor-info a {
    text-decoration: underline;
}
.doctor-info a:hover {
    text-decoration: none;
}



.med-card-title {
    margin-bottom: 70px;
}
.med-card-title h2 a {
    font-size: 0.5em;
    padding: 0 20px;
    color: #009999;
}
.med-card-title h2 a:hover {
    text-decoration: none;
}
.btn-add-recall {
    background-color: #009999;
    color: #fff !important;
    padding: 5px 20px !important;
    margin-left: 10px;
}
.btn-add-recall:hover, .btn-add-recall:focus, .btn-add-recall:active {
    background-color: #009999 !important;
    color: #fff !important;
    padding: 5px 20px !important;
}
.clinic-info {
    background-color: #ecf6f8;
    padding: 30px 10px;
    display: flex;
    align-items: center;
}
.clinic-info-phone p a {
    color: #000;
}
.address-title h4 {
    margin-top: 0;
    margin-bottom: 40px;
}
.address-title a {
   text-decoration: underline;
}
.clinic-nav-info {
    background-color: #009999;
    padding-left: 30px;
}
.clinic-nav-info a {
    color: #f4f9f9;
}
.clinic-nav-info a:hover {
    color: #f4f9f9;
    text-decoration: underline !important;
    background-color: #009999 !important;
}

.clinic-full-info {
    margin: 30px 0;
}
.clinic-full-info h4 {
    font-weight: bold;
    margin: 40px 0 20px 0;
}
.clinic-full-info ul li a {
    color: #26a1a1;
    text-decoration: underline;
}
.clinic-full-info ul li a:hover {
    text-decoration: none;
}


.recall-block {
    margin: 30px 0;
}
.med-card>.btn-add-recall {
    margin: auto;
}
.recall-block-title a {
    font-size: 0.7em;
    margin-left: 70px;
}
.recall-person {
    display: flex;
    align-items: center;
}
.recall-person>div h5 {
    font-size: 1.2em;
    font-weight: bold;
}
.recall-person>div h5 span {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 5px;
    color: #a7a7a7;
}
.recall-person>div p {
    text-align: justify;
}

.recall-person-rating {
}

.recall-person-full-rating {
    background-color: #ecf6f8;
    padding: 20px 30px;
}
.recall-person-full-rating span {
    font-size: 5.5em;
    width: 100%;
    text-align: center;
    display: block;
}

@media (max-device-width: 990px) {
    .clinic-info, .recall-person {
        display: block;
    }
}



.doctor-main-info {
}
.doctor-full-info {
    background-color: #ecf6f8;
    padding: 10px 30px;
}
.doctor-main-info-img {
    margin: 40px 0;
}
.doctor-rating {
    margin-top: 80px;
}
.doctor-main-info-content p a {
    color: #000;
}
.doctor-main-info-content>a {
    text-decoration: underline;
    color: #009999;
}
.doctor-main-info-content>a:hover {
    text-decoration: none;
}
.doctor-main-info-content>i {
    margin-right: 5px;
}

.article-catalog-title {
    margin-bottom: 30px;
}
.article-catalog-nav li a {
    background-color: #fff;
    color: #000;
    border-radius: 0;
    border: solid 1px #000;
    padding: 5px 45px;
}

.article-catalog-nav .active a {
    background: #009999 !important;
    color: #fff !important;
     border: solid 1px #009999;
}
    
.article-catalog-nav li a:hover, .article-catalog-nav li a:active {
    background-color: #009999 !important;
    border: solid 1px #009999;
    color: #fff;
}
.article-catalog-block {
    border: 1px solid #000;
    overflow: auto;
    margin-bottom: 20px;
}
.article-catalog-block-img {
    height: 100% !important;
    padding-left: 0 !important;
}
.article-catalog-block h3 a {
    color: #000;
}
.article-catalog-block-info {
    padding: 10px;
    box-sizing: border-box;
}
.article-catalog-block-info p:last-child{
    margin-bottom: 0;
}
.article-block-date {
    color: #b8b8b8;
}

.article-container>h2 {
    padding: 0 15px;
}
.article-container>p {
    color: #a9a9a9;
    padding: 0 15px;
}
.article-container>p span {
    padding-left: 50px;
}
.article-container>div {
    margin: 30px 0;
}

.article-full-info img {
    margin-bottom: 30px;
}

.article-full-info p {
    margin-bottom: 20px;
}

.share-with-friends {
    text-align: center;
}
.share-with-friends a img {
    width: 40px;
}
.comments {
    margin-bottom: 30px;
}
.comments h3 span{
    font-size: 0.6em;
    color: #a9a9a9;
    padding-left: 20px;
}

/*****/
.modal-dialog-reg {
    width: 450px;
    margin:30px auto;
}
.modal-title {
    font-size: 2em;
}
.modal-content-reg {
    border-radius: 10px;
    background-color: #fff;
}
.reg-body {
    width: 75%;
    margin: 20px auto;
}
.reg-body input {
    width: 100%;
    padding: 9px 12px;
    margin-bottom: 15px;
    border: solid 1px #c1c1c1;
    border-radius: 5px;
}
.reg-title {
    color: #000;
    text-align: center;
    margin: 40px 0;
}
.reg-btn {
    color: white;
    background: #00ABAA;
    border-radius: 5px;
    font-size: 21px;
    width: 100%;
    margin-bottom: 15px;
}
.reg-button {
    margin: 40px 0 65px 0;
    text-align: center;
}
.close {
    font-size: 30px;
    color: #21787c;
    opacity: 1;
    margin: 10px;
    outline: none;
}
@media (max-width: 410px) {
    .reg-btn {
       font-size: 15px;
    }
}

.med-tech-search {
    margin: 30px 0;
    width: 60%;
}
@media (max-width: 990px) {
   .med-tech-search {
        width: 100%;
    }    
}


#search-city{
    width: 35%;
    float: left;
}
#search{
    width: 65%;
    float: left;
}
@media (max-width: 576px){
    #search-city{
    width: 100%;
    float: left;
    }
    #search{
        width: 100%;
        float: left;
    }
}


.med-tech-catalog>div {
    padding: 0 5px;
    margin-bottom: 30px;
}

.med-tech-block {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    cursor: default;
    height: 510px;
    
}
.med-tech-block:hover {
    -webkit-box-shadow: 0px 6px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 22px -10px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.med-tech-block:hover .med-tech-btn, .med-tech-block:hover .med-tech-guarantee {
    display: block;
}
.med-tech-block:hover .med-tech-byr, .med-tech-block:hover .med-tech-byn {
    display: none;
}
.med-tech-block h4 {
    font-weight: bold;
}
.med-tech-block img {
    width: 100%;
    padding: 0;
}
.med-tech-description {
    color: #676767;
}
.med-tech-byn, .med-tech-byr {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}
.med-tech-byr {
    color: #676767;
}
.med-tech-vendor-cod {
    font-size: 0.9em;
    color: #9e9e9e;
}
.med-tech-btn {
    background: #29a9aa;
    margin: auto;
    padding: 8px 40px;
    outline: none !important;
    display: none;
}
.med-tech-btn:hover {
    background: #299c9d;
}
.med-tech-btn:focus, .med-tech-btn:active {
    background: #279495 !important;
}
.med-tech-guarantee {
    color: #29a9aa;
    font-size: 1.2em;
    margin-top: 10px;
    display: none;
}




.custom-personal-area-patient-container {
    background: #fff;
    margin: 50px 0;
}
.custom-personal-area-patient-container>.container>p {
    margin-bottom: 50px;
}
.personal-area-patient-content {
    background: #ecf6f8;
    padding: 0;
}
.main-info-patient {
    margin: 30px 0;
}
.main-info-patient-left, .main-info-patient-right, .full-info-patient-block {
    border-radius: 5px;
}
.main-info-patient-left, .main-info-patient-right {
    height: 200px;
    background: #fff;
    padding: 0 40px;
}
.main-info-patient-left {
    display: flex;
    align-items: center;
    position: relative;
}
.main-info-patient-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.patient-photo {
    border: 1px solid #000;
    width: 130px;
    height: 130px;
    margin-right: 40px;
}
.patient-info p:first-child {
    font-weight: bold;
    font-size: 1.3em;
    color: #5a5a5a;
}
.patient-info p:last-child {
    font-size: 1.1em;
    color: #5a5a5a;
}
.chronic-btn {
    background: #fff;
    padding: 0;
    border: none;
    color: #000 !important;
    font-size: 1.1em;
    outline: none !important;
    width: 175px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.chronic-btn:hover {
    background: #fff;
    text-decoration: none;
}
.chronic-btn:focus, .chronic-btn:active {
    background: #fff !important;
    box-shadow: none;
}
.main-info-edit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none !important;
    background: #fff;
}
.main-info-edit-btn:hover, .main-info-edit-btn:active, .main-info-edit-btn:focus {
    background: #fff !important;
    box-shadow: none !important;
}
.chronic-modal .modal-header h4 {
    font-size: 1.5em;
}
.chronic-modal ul {
    padding: 0;
    margin: 40px 0;
}
.chronic-modal ul li {
    list-style: none;
    font-size: 1.2em;
    text-align: center;
    border-bottom: solid 1px #d5d5d5;
    width: 80%;
    margin: 0 auto 20px auto;
}
.main-info-edit-form h4 {
    font-size: 1.5em;
}

.full-info-patient {
    margin-bottom: 30px;
}
.full-info-patient-block {
    height: 580px;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
}
.full-info-patient-block-title {
    border-bottom: solid 2px #d7d7d7;   
    height: 70px;
}
.full-info-patient-block-title h4 {
    font-size: 1.5em;
    text-align: center;
    color: #5a5a5a;
}
.full-info-patient-block-title p {
    font-size: 1.1em;
    text-align: center;
    color: #b2b2b2;
}
.full-info-table {
    overflow-y: scroll;
    height: 450px;
}

.full-info-table table tr td {
    text-align: center;
    vertical-align: middle !important;
    color: #777;
}
.full-info-table table tr:first-child td {
    border-top: none;
}
.full-info-table table tr td:first-child {
    border-right: 1px solid #ddd;
}

.full-info-table table span {
    color: #9d9d9d;
}



.scroll-table::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

.scroll-table::-webkit-scrollbar-track {
    background-color: #fff;
    
}

.scroll-table::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #d7d7d7;
}

.scroll-table::-webkit-scrollbar-thumb:active {
    background-color: #cccccc;
}

.scroll-table::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

.scroll-table::-webkit-scrollbar {
    width: 6px;
}

.scroll-table::-webkit-scrollbar:horizontal {
    height: 7px;
}




.visit-doctor-patient-content {
    background: #fff;
    height: auto;
}
.visit-doctor-patient-content h3 {
    margin-top: 50px;
}
.visit-doctor-patient-btns {
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
}
.visit-doctor-patient-btns button {
    width: 200px;
    background: #01abaa;
    outline: none !important;
    margin-right: 10px;
}
.visit-doctor-patient-btns button:last-child {
     margin-right: 0;
}
.visit-doctor-patient-btns button:hover {
    background: #299c9d;
}
.visit-doctor-patient-btns button:focus, .visit-doctor-patient-btns button:active {
    background: #279495 !important;
}
.visit-doctor-patient-content>button {
    margin: 80px auto;
    display: block;
    border: #9f9f9f solid 1px;
    background: #fff;
    color: #9f9f9f;
    outline: none !important;
}
.visit-doctor-patient-content>button:hover {
    background: #299c9d;
}
.visit-doctor-patient-content>button:focus, .visit-doctor-patient-content>button:active {
    background: #279495 !important;
}

.full-info-patient-block{
    overflow-y: auto;
}
.full-info-patient-block-title>button {
    color: #A9ABAB;
    font-size: 3em;
    padding: 0;
}
.full-info-patient-block-title>button:hover, .full-info-patient-block-title>button:active, .full-info-patient-block-title>button:focus {
    color: #A9ABAB !important;
}
.serach-result .search-item h3{
    margin-top: 25px;
    font-weight: 600;
    font-size: 1em;
}
.serach-result .search-item .date{
    font-weight: 600;
    font-size: 0.9em;
}
.serach-result .search-item p{
    font-size: 0.9em;
    color: #333;
}
.serach-result{
    margin: 15px 0;
}
.page-list-search .pagination>li>a{
    height: 40px;
    width: 40px;
    margin: 1px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    border-radius: 1px;
    background-color: #ddd;
    color: #444;
    font-size: 1.1em;
}
.page-list-search .pagination>li.active>a{
    color: #fff;
}


.patient-doctor-table {
    margin: 50px auto;
    font-size: 1.2em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 2px solid #dadada;
    display: block;
    color: #5a5a5a;
}

.patient-doctor-table thead {
    border-radius: 50px !important;
}
.patient-doctor-table thead tr th {
    padding: 20px;
    border-bottom-width: 1px;
    border-right: 1px solid #ddd;
}
.patient-doctor-table thead tr th:last-child {
    border-right: none;
}
.patient-doctor-table thead span {
    color: #9d9d9d;
    font-weight: normal;
    display: block;
    margin-top: 20px;
}
.patient-doctor-table tbody tr td:first-child {
    font-weight: bold;
    border-right: 1px solid #ddd;
}
.patient-doctor-table tbody tr td:last-child {
    text-align: justify;
    padding: 50px;
}
.patient-doctor-table td, .patient-doctor-table th {
    text-align: center;
    vertical-align: middle !important;
}




