<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Infodoctor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<!--<script type="text/javascript" src="js/jquery.js"></script>-->
		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
		<script type="text/javascript" src='js/menu-items.js'></script>
	</head>
	<body>
		<div class="banner">Баннер</div>
		<div class="helper dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">П<br/>
            О<br/>
            М<br/>
            О<br/>
            Щ<br/>
            Н<br/>
            И<br/>
            К<br/></a>
            <div class="dropdown-menu helper-block">
               <div class="helper-block-title">
                   <span>Ваш помощник</span><br/>
                   Куда и к кому обратиться, если у вас:
               </div>
                <ul>
                    <li><a href="">- Оказание первой помощи</a></li>
                    <li><a href="">- Высокое (низкое АД)</a></li>
                    <li><a href="">- Болит голова</a></li>
                    <li><a href="">- Болит спина</a></li>
                    <li><a href="">- Болит нога (рука)</a></li>
                    <li><a href="">- Болит живот</a></li>
                    <li><a href="">- Тяжело дышать (кашель)</a></li>
                    <li><a href="">- Болит грудь (сердце)</a></li>
                    <li><a href="">- Сыпь</a></li>
                    <li><a href="">- Температура</a></li>
                    <li><a href="">- Слабость</a></li>
                </ul>
            </div>
		</div>
		<nav class="navbar navbar-default navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   
                    <ul id='menu-container' class="nav navbar-nav navbar-nav-menu">
                    	<script id="menu-items" type="text/x-handlebars-template">
                    	{{#each menu}}
                    	<li class="dropdown">
                    		<a href="#">{{this.itemName}}</a>
							{{#if this.dropItem}}
                    		<ul class="dropdown-menu dropdown-menu-custom">
                    			{{#each this.dropItem}}
                    				<li class="dropdown-menu-item">
                    					<a href="#">{{this.dropItemName}}</a>
                    				</li>
                    			{{/each}}
                    		</ul>
                    		{{/if}}
                    		</li>
                    	{{/each}}
                    	</script>
                            <!--<li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Мед. учреждения</a>
                                    <ul class="dropdown-menu dropdown-menu-custom">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>                           
                            </li>
                            <li>
                                    <a href="#">Врачи</a>

                            </li>
                            <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Реабилитация</a>
                                    <ul class="dropdown-menu dropdown-menu-custom">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>                           
                            </li>
                            <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Мед. товары и услуги</a>
                                    <ul class="dropdown-menu dropdown-menu-custom">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>                           
                            </li>
                            <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Мед. услуги за пределами РБ</a>
                                    <ul class="dropdown-menu dropdown-menu-custom">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>                           
                            </li>-->
                    </ul>
					<ul class="nav navbar-nav navbar-right nav-signup">
						<li><a href="#" data-target="#signin" data-toggle="modal">
						<i class="glyphicon glyphicon-user"></i>Войти</a></li>
						<li><a role="button" data-target="#reg" data-toggle="modal" >Регистрация</a></li>
					</ul>
				</div>
			</div>
		</nav>
        <div id="reg" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-dialog-reg ">
                    <div class="modal-content modal-content-reg ">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <div class="reg-body">
                            <div class="reg-title">
                                <h1 class="modal-title">Регистрация</h1>
                            </div>
                            <input placeholder="Имя" type="text" class="reg-input" required>
                            <input placeholder="Пароль" type="password" class="reg-input" required>
                            <input placeholder="Повторите пароль" type="password" class="reg-input" required>
                            <input placeholder="Телефон" type="tel" class="reg-input">
                            <input placeholder="Email" type="email" class="reg-input">
                            <div class="reg-button row">
                                <div class="col-sm-12 col-md-12"><button class="btn reg-btn " type="button" >Зарегистрироваться</button></div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>
        </div>    
        <div id="signin" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-dialog-reg ">
                    <div class="modal-content modal-content-reg ">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <div class="reg-body">
                            <div class="reg-title">
                                <h1 class="modal-title">Вход в систему</h1>
                            </div>
                            <input placeholder="Имя" type="text" class="reg-input" required>
                            <input placeholder="Пароль" type="password" class="reg-input" required>
                            <div class="reg-button row"> 
                                <div class="col-sm-8 col-md-8" style="margin:0 auto; float:none"><button class="btn reg-btn" data-target="#signin" data-toggle="modal" type="button"  >Войти</button></div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>
        </div> 
		<div class="container">
			<div class="col-md-2 logo ">
				<!--INFODOCTOR.BY <br>
				<span>цены. услуги. отзывы</span>-->
				<a class="visible-lg" href=""><img  src="img/logo.png"></a>
			</div>
			<div class="col-md-9 search-panel">
				<ul class="nav nav-pills nav-pills-custom">
					<li class="active"><a data-toggle="tab" href="#menu1">ОБЩИЙ</a></li>
					<li><a data-toggle="tab" href="#menu2">ПО КЛИНИКАМ</a></li>
					<li><a data-toggle="tab" href="#menu3">ПО ДОКТОРАМ</a></li>
					<li><a data-toggle="tab" href="#menu4">ПО ПРОФИЛЮ ЗАБОЛЕВАНИЯ</a></li>
                    <li><a data-toggle="tab" href="#menu5">ПО МЕД. ОБСЛЕДОВАНИЯМ</a></li>
				</ul>
				<div class="tab-content">
					<div id="menu1" class="tab-pane fade in active">
						<div class="form-group input-group">
							<input placeholder="Поиск" type="text" class="form-control" id="search">
							<select class="form-control" id="search-city">
							    <option>Выберете город</option>
							    <option>Минск</option>
							    <option>Брест</option>
							    <option>Витебск</option>
							    <option>Могилев</option>
							  </select>
							  <a href="" class="btn input-group-addon">Найти</a>
						</div>
					</div>
					<div id="menu2" class="tab-pane fade">
						<div class="form-group input-group">
							<input placeholder="Поиск" type="text" class="form-control" id="search">
							<select class="form-control" id="search-city">
							    <option>Выберете город</option>
							    <option>Минск</option>
							    <option>Брест</option>
							    <option>Витебск</option>
							    <option>Могилев</option>
							  </select>
							<a href="" class="btn input-group-addon">Найти</a>
						</div>
					</div>
					<div id="menu3" class="tab-pane fade">
						<div class="form-group input-group">
							<input placeholder="Поиск" type="text" class="form-control" id="search">
							<select class="form-control" id="search-city">
							    <option>Выберете город</option>
							    <option>Минск</option>
							    <option>Брест</option>
							    <option>Витебск</option>
							    <option>Могилев</option>
							  </select>
			  				<a href="" class="btn input-group-addon">Найти</a>
						</div>
					</div>
					<div id="menu4" class="tab-pane fade">
						<div class="form-group input-group">
							<input placeholder="Поиск" type="text" class="form-control" id="search">
							<select class="form-control" id="search-city">
							    <option>Выберете город</option>
							    <option>Минск</option>
							    <option>Брест</option>
							    <option>Витебск</option>
							    <option>Могилев</option>
							  </select>
			  				<a href="" class="btn input-group-addon">Найти</a>
						</div>
					</div>
					<div id="menu5" class="tab-pane fade">
						<div class="form-group input-group">
							<input placeholder="Поиск" type="text" class="form-control" id="search">
							<select class="form-control" id="search-city">
							    <option>Выберете город</option>
							    <option>Минск</option>
							    <option>Брест</option>
							    <option>Витебск</option>
							    <option>Могилев</option>
							  </select>
			  				<a href="" class="btn input-group-addon">Найти</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container custom-container text-align-center">			
			<button class="btn btn-info btn-lg btn-header" type="button" data-toggle="modal" data-target="#myModal">Записаться на прием</button>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Запись на прием</h4>
                        </div>
                        <div class="modal-body modal-body-custom">
                            <input placeholder="Ваше Ф.И.О." type="text" class="appointments-input" required>
                            <input placeholder="Ваш номер телефона" type="tel" class="appointments-input" required>
                            <input placeholder="Ваш email" type="email" class="appointments-input">
                            <select size="1" class="appointments-select" required>
                                <option selected disabled>Выберите специализацию врача</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button class="btn btn-info btn-lg appointments-btn" type="button" >Записаться на прием</button>
                        </div>
                        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
                    </div>
                </div>
            </div>
			
		</div>
		<div class="container-fluid hidden-xs hidden-sm">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active item-first-banner">
						<h3>Первый информационно-консультационный портал о здоровье</h3>
						<p>Уже в мобильном приложении</p>
						<a href="" class="download-app-btn">Скачать приложение</a>
					</div>
					<div class="item item-second-banner">
						<a href="">Подробнее</a>
					</div>
					<div class="item item-third-banner">
						<a href="">Подробнее</a>
					</div>
					<div class="item item-fourth-banner">
						<a href="">Подробнее</a>
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="custom-offers-container">
			<div class="container">
				<h3 class="text-align-center">Наши партнеры</h3>
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 ">
						<div class="stock">
							<img alt="" class="img-responsive" src="img/stock.png">
							<div>Скидка 40% на ультразвуковую чистку зубов в стоматологии "витадент"</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container custom-reviews-container">
			<div class='col-md-6 col-xs-12'>
				<div class="latest-reviews-title">
					<h3 class="hidden-xs hidden-sm">Последние отзывы</h3>
					<a href="">Все отзывы</a>
				</div>
				<div class="hidden-xs hidden-sm">
					<div class="review-container">
						<img alt="" class="img-responsive" src="img/photo.png">
						<div class="review-container-content">
							<div class="review">
								<h6>Медецинский центр АНТЕС МЕД</h6>
								<p>8 авг 2016</p>
								<p>Хочу выразить блабла...</p>
							</div>
							<div class="rating">
								рейтинг 3,7
								<a href="" class="btn btn-default review-btn">Оставить отзыв</a>
							</div>
						</div>
					</div>
					<div class="review-container">
						<img alt="" class="img-responsive" src="img/photo.png">
						<div class="review-container-content">
							<div class="review">
								<h6>Медецинский центр АНТЕС МЕД</h6>
								<p>8 авг 2016</p>
								<p>Хочу выразить блабла...</p>
							</div>
							<div class="rating">
								рейтинг 3,7
								<a href="" class="btn btn-default review-btn">Оставить отзыв</a>
							</div>
						</div>
					</div>
					<div class="review-container">
						<img alt="" class="img-responsive" src="img/photo.png">
						<div class="review-container-content">
							<div class="review">
								<h6>Медецинский центр АНТЕС МЕД</h6>
								<p>8 авг 2016</p>
								<p>Хочу выразить блабла...</p>
							</div>
							<div class="rating">
								рейтинг 3,7
								<a href="" class="btn btn-default review-btn">Оставить отзыв</a>
							</div>
						</div>
					</div>
					<div class="review-container">
						<img alt="" class="img-responsive" src="img/photo.png">
						<div class="review-container-content">
							<div class="review">
								<h6>Медецинский центр АНТЕС МЕД</h6>
								<p>8 авг 2016</p>
								<p>Хочу выразить блабла...</p>
							</div>
							<div class="rating">
								рейтинг 3,7
								<a href="" class="btn btn-default review-btn">Оставить отзыв</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-6 col-xs-12 article-container'>
				<div class="article-title">
					<h3>Новости</h3>
					<br>
					<a href="" class="btn">Все новости</a>
				</div>
				<div class="main-article">
					<div class="bottom">
						<div class="btn btn-default">НОВОСТИ</div>
						<h3>Медицинский центр АНТЕС МЕД</h3>
						<p>8 авг 2016</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 article-block">
					<img alt="" class="img-responsive" src="img/lift.png">
					<div>
						<a href="" class="btn btn-default">Новости</a>
						<h4>Медецинский центр АНТЕС МЕД</h4>
						<br>
						<p class="date">8 авг 2016</p>
						<p class="description">Медицинский центра АНТЕС мед предоставляет скидку 10%</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 article-block">
					<img alt="" class="img-responsive" src="img/lift.png">
					<div>
						<a href="" class="btn btn-default">Новости</a>
						<h4>Медецинский центр АНТЕС МЕД</h4>
						<br>
						<p class="date">8 авг 2016</p>
						<p class="description">Медицинский центра АНТЕС мед предоставляет скидку 10%</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer-top-line">
				<a href=""><i class="glyphicon glyphicon-question-sign"></i>Задать вопрос доктору</a>
			</div>
			<div class="footer-content">
				<div class="col-md-3">
					<h4>Каталог</h4>
					<ul>
						<li><a href="">Взрослые организации здравоохранения</a></li>
						<li><a href="">Детские организации здравоохранения</a></li>
                        <li><a href="">Санаторно-курортные и реабилитационные организации</a></li>
                        <li><a href="">Зарубежные клиник-партнеры</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>Компания</h4>
					<ul>
						<li><a href="">Раздел для партнеров</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Статьи</a></li>						
						<li><a href="">Отзывы</a></li>
						<li><a href="">Вакансии</a></li>
						<li><a href="">О проекте</a></li>
					</ul>
				</div>
				<div class="col-md-3 pull-right"></div>
                <div class="footer-service-copy col-md-4">
                    <div>Служба поддержки:</div>
                    <div class="footer-tel">+375 29 <strong>700-00-00</strong></div>
                    <a href="#"><img alt="" width="161" src="img/appstore.png"></a>
                    <a href="#"><img alt="" width="161" src="img/googleplay.png"></a>
                    <div class="copy">InfoDoKtor.by © 2012
                    </div>
                </div>
			</div>
		</footer>
		
    <!--<script id="menu-items" type="text/x-handlebars-template">
       {{#each menu}}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{itemName}}</a>
            <ul class="dropdown-menu dropdown-menu-custom">
               {{#each dropItem}}
                <li><a href="{{href}}">{{dropItemName}}</a></li>
                {{/each}}
            </ul>                           
        </li>                            
        {{/each}}
    </script>-->
		
	</body>
</html>